<% form_for(@titulo_professor) do |f| %>
  <%= f.error_messages %>
    <table border="1">
      <td valign="top">
        <table border="1">	
          <tr>
            <td><%= f.label :professor_id, 'Professor: ' %></td>
            <td>
              <%= f.collection_select :professor_id, @professor_sede, :id, :matricula, :include_blank => ' -- Selecione -- ' %>
                <%= observe_field 'titulo_professor_professor_id',
                  :with => :titulo_professor_professor_id,
                  :url => { :action => 'sel_prof' } %>
              <div id="nomeprof"></div>
             </td>
           </tr>
          <tr>
            <td><%= f.label :titulo_id, 'Titulo: ' %></td>
            <td><%= f.collection_select :titulo_id, @titulacaos, :id, :descricao, :include_blank => ' -- Selecione -- ', :size => 5 %>
             <%= observe_field 'titulo_professor_titulo_id',
             :frequency => 0.5,
             :with => :titulo_professor_titulo_id,
             :url => { :action => 'guarda_valor' } %>
               <tr>
                 <td colspan="2">
                  <div id="valor"></div>
                  <div id="tipo_titulo"></div>
                 </td>
               </tr>
             </td>
          </tr>
          <tr>
           <td><%= f.label :obs, 'Descrição:' %></td>
           <td><%= f.text_area :obs, :size => "50x1"   %></td>
          </tr>

          <tr>
            <td><%= f.label :quantidade, 'Quantidade:' %></td>
            <td id="qtde"><%= f.text_field(:quantidade, :size => 10)%></td>
          </tr>
          <tr>
            <td><%= f.label :dt_titulo, 'Data de Emissão:' %>
            <td><%= datepicker_tag(:titulo_professor, :dt_titulo,{ :size => 10},{:dateFormat => "'dd-mm-yy'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn => "'both'"}) %></td>
          </tr>
          <tr>
            <td>
              <%= f.submit "Salvar"%>
            </td>
          </tr>
          </table>
          <table>
            <td VALIGN=TOP>
              <div id="mensagem">
                <br/>
                <u>OBSERVAÇÕES:</u> <br /> <br />
                  1. UTILIZAR  SOMENTE LETRAS MAIÚSCULAS<br />
                  2. DIGITAR SEMPRE DADOS COMPLETOS <br/>
                  3. NÃO UTILIZAR ACENTUAÇÃO, TIL E CEDILHA<br />
                  4. NÃO UTILIZAR ABREVIAÇÕES<br />
                  5. CURSOS OFER. / ACOMP. PELA SE  E OUTROS CURSOS / SIMPOSIOS / ETC DE<br/>
                     CURTA DURAÇÃO INFORMAR A QUANTIDADE EM HORAS. <br/>
                  6. DEMAIS CURSOS, LANÇA-LOS INDIVIDUALMENTE. <br/>
                  7. APRESENTAÇÃO DE COMUNICAÇÃO QUE<br/>
                     ULTRAPASSAR A CARGA HORARIA 24 HRS, LANÇAR A CARGA HORÁRIA DO EVENTO<br/>
                     NA OPÇÃO "OUTROS CURSOS / SIMPOSIOS / ETC".

              </div>
            </td>
          </table>
      </td>
      <td width="80%">
        <fieldset>
         <legend><font size=4>Titulos Cadastrados</font></legend>
           <div id="titulos"></div>
        </fieldset>
      </td>
    </table>
    <br/>
<% end %>
