<div id="conteudo">
   <br/>
   <fieldset>
      <legend><font size=4>Alteração Tempo Trabalhado</font></legend>
        <% form_for(@trabalhado) do |f| %>
          <%= f.error_messages %>
          <table border="1" frame="box" rules="all">
            <tr>
              <td><%= f.label :professor_id, 'Professor' %></td>
              <td colspan="10"><%= @trabalhado.professor.nome  %></td>
            </tr>
            <tr>
                <td><%= f.label :ano, 'Ano' %></td>
                <td><%= f.label :dias, 'Dias' %></td>
                <td><%= f.label :unidade, 'Unidade' %></td>
                <td><%= f.label :outro_trab, 'Outro Trabalho' %></td>
                <td><%= f.label :f_abonada, 'Faltas Abonadas' %></td>
                <td><%= f.label :atestado, 'Atestados' %></td>
                <td><%= f.label :f_justif, 'Faltas Justificadas' %></td>
                <td><%= f.label :f_injustif, 'Faltas Injustificadas' %></td>
                <td><%= f.label :lic_saude, 'Licença Saúde' %></td>
                <td><%= f.label :afastamento, 'Afastamentos' %></td>
                <td><%= f.label :outras_ausencias, 'Outras Ausências' %></td>
            </tr>
            <tr>                
                <td><%= f.text_field :ano, :size => 1  %></td>
                <td><%= f.text_field :dias, :size => 1  %></td>
                <td><%= f.text_field :unidade, :size => 1  %></td>
                <td><%= f.text_field :outro_trab, :size => 1  %></td>
                <td><%= f.text_field :f_abonada, :size => 1  %></td>
                <td><%= f.text_field :atestado, :size => 1  %></td>
                <td><%= f.text_field :f_justif, :size => 1  %></td>
                <td><%= f.text_field :f_injustif, :size => 1  %></td>
                <td><%= f.text_field :lic_saude, :size => 1  %></td>
                <td><%= f.text_field :afastamento, :size => 1  %></td>
                <td><%= f.text_field :outras_ausencias, :size => 1  %></td>
            </tr>
            <tr>
              <td colspan="11">
                  <%= f.submit "Salvar" %>
              </td>
            </tr>
          </table>                             
     <% end %>
   </fieldset>
   <%= link_to 'Voltar', trabalhados_path, :class => "button" %>
   </div>